@media (max-width: 768px) {
    /* home section styling */
    .home .text-box {
        height: 80vh;
    }
    .home .text-box h1 {
        font-size: 2.5rem;
    }
    nav .menu {
        position: fixed;
        width: 200px;
        height: 100vh;
        top: 0;
        right: -200px;
        flex-direction: column;
        background-color: #f44336;
        z-index: 2;
        padding-top: 1.25rem;
        transition: all 0.3s ease;
        text-align: left;
    }
    nav .menu.active {
        right: 0;
    }
    nav .fa {
        display: block;
        color: #fff;
        cursor: pointer;
    }
    nav .close-menu {
        margin-left: 1.25rem;
    }
    nav ul li {
        margin-left: 2.5rem;   
        display: block;
    }
    nav ul a {
        font-weight: bold;
    }
    .text-box p br {
        display: none;
    }


    /* courses section styling */
    .courses .course-cards {
        flex-direction: column;
    }

    /* facilities section styling */
    .facilities .cards {
        flex-direction: column;
        gap: 3rem;
    }

    /* testimonial section styling */
    .testimonials .testimonial-cards {
        flex-direction: column;
        gap: 3rem;
    }

    /* call to action section styling */
    .cta {
        margin-bottom: 0;
    }
    .cta .container br {
        display: none;
    }

    .about-us p br {
        display: none;
    }


    /* -----ABOUT-US.HTML */
    .about-content .row {
        flex-direction: column-reverse;
    }
    .about-content .row .col {
        text-align: center;
    }
    .about-content .row .col h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .about-content .row .col p {
        margin-bottom: 1.5rem;
    }


    /* BLOG.HTML */
    .blog-main .row {
        flex-direction: column;
        gap: 3rem;
    }
    .blog-main .left-col {
        flex-basis: 100%;
    }
    .blog-main .right-col {
        flex-basis: 100%;
    }

     /* CONTACT.HTML */
     .contact-us .row {
         flex-direction: column-reverse;
     }
     .contact-us .row .contact-col {
         flex-basis: 100%;
     } 
     .contact-us .row .left-col {
         margin-bottom: 0;
     }
     .contact-us .row .right-col {
         margin-bottom: 4.4rem;
     }

}

@media (max-width: 425px) {
    .container {
        padding: 0 2rem;
    }
    nav .menu {
        width: 50%;
        right: -50%;
    }
    .campus .campus-cards {
        flex-direction: column;
    }
    .testimonials .testimonial {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    .testimonials .testimonial img {
        margin: 0 auto;
    }
    .about-us {
        padding: 2rem 0;
    }
    #courses-h1 {
        font-size: 3rem;  
    }
    #blog-h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 375px) {
    #contact-home h1 {
        font-size: 3.1rem;
    }
    .contact-us .row .contact-col h5 {
        font-size: 0.9rem;
    }
}