@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
img {
    width: 100%;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4rem;
}


/* home section styling */
.home {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('/images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.home .container nav img {
    width: 150px;
}
.home .container nav ul {
    display: flex;
    gap: 2rem;
}
.home .container nav ul a {
    text-transform: uppercase;
    padding: 8px 12px;
    position: relative;
}
.home .container nav ul a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 6px;
    transition: width 0.5s ease;
}
.home .container nav ul a:hover::after {
    width: 100%;
}
.home .container nav .fa {
    display: none;
}

.home .container .text-box {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home .container .text-box h1 {
    font-size: 60px;
    color: #fff;
}
.home .container .text-box p {
    font-size: 17px;
    margin: 1rem 0 3rem;
    color: #fff;
}
.home .container .text-box .hero-btn {
    border: 1px solid #fff;
    padding: 0.8rem 2rem;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}
.home .container .text-box .hero-btn:hover {
    border: 1px solid #f44336;
    color: #f44336;
}



/* courses section styling */
.courses {
    text-align: center;
    padding-top: 6.25rem;
}
.courses .container h1 {
    font-size: 2.25rem;
    font-weight: 600;
}
.courses .container p {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.4rem;
    padding: 0.6rem;
    color: #777;
}
.courses .container .course-cards {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
.courses .container .course-cards .card {
    flex-basis: 30%;
    background: #faede1;
    border-radius: 10px;
    margin-bottom: 3rem;
    padding: 1.3rem 0.7rem;
}
.courses .container .course-cards .card:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.courses .container .course-cards .card h3 {
    font-weight: 600;
    text-align: center;
    margin: 0.6rem 0;
}
.courses .container .course-cards .card p {
    line-height: 2;
}


/* campus section styling */
.campus {
    text-align: center;
    padding-top: 5.1rem;
}
.campus .container h1 {
    font-size: 2.25rem;
    font-weight: 600;
}
.campus .container p {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.4rem;
    padding: 0.6rem;
    color: #777;
}
.campus .container .campus-cards {
    display: flex;
    margin: 4rem 0;
    justify-content: space-between;
}
.campus .container .campus-cards .card {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 2.5rem;
    position: relative;
    overflow: hidden;
}
.campus .container .campus-cards .card img {
    border-radius: 10px;
    display: block;
}
.campus .container .campus-cards .card .card-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 3rem;
    background: transparent;
    border-radius: inherit;
    transition: background 0.5s ease-out;
}
.campus .container .campus-cards .card .card-text:hover {
    background: rgba(226, 0, 0, 0.7);
}
.campus .container .campus-cards .card .card-text h3 {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: all 0.3s ease-out;
}
.campus .container .campus-cards .card .card-text:hover h3 {
    bottom: 50%;
    opacity: 1;
}

/* facilities section styling */
.facilities {
    text-align: center;
    padding-top: 5.1rem;
}
.facilities .container h1 {
    font-size: 2.25rem;
    font-weight: 600;
}
.facilities .container p {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.4rem;
    padding: 0.6rem;
    color: #777;
}
.facilities .container .cards {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}
.facilities .container .cards .card {
    flex-basis: 30%;
    border-radius: 10px;
    text-align: left;
}
.facilities .container .cards .card img {
    border-radius: 10px;
}
.facilities .container .cards .card h3 {
    margin: 0.8rem 0;
}
.facilities .container .cards .card p {
    padding: 0;
}

/* testimonial section styling */
.testimonials {
    text-align: center;
    padding-top: 5.1rem;
}
.testimonials .container h1 {
    font-size: 2.25rem;
    font-weight: 600;
}
.testimonials .container p {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.4rem;
    padding: 0.6rem;
    color: #777;
}

